body {
  background-image: url(https://wallpaper.dog/large/10877162.jpg);
  background-size: cover;
}
h2 {
  color: blue;
  text-align: center;
  border: 5px solid firebrick;
}
p {
  color: deeppink;
}
li {
  list-style: none;
}
