body {
  background-image: url(https://wallpaper.dog/large/10877162.jpg);
  background-size: cover;
}
h2,p {
  color: #13073A;
  text-align: center;
  border: 5px solid rgba(255, 170, 244, 0.5);
  cursor: pointer;
}
p {
  color: rgb(20, 149, 255);
  line-height: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 100%;
  font-family: 'Poiret One', cursive;
}
li {
  list-style: none;
  display: inline-block;
}
.webtext{
border: 5px dashed green;
}
.active{
color: red;
}
#div1{
    background:rgba(0, 0, 255, 0.2);
}
#div2{
    background:rgba(255, 0, 0, 0.2);
}
img{
    float: left;
}
footer{
    clear: both;
    text-align: center;
}